body {
	margin: 0;
}

h1 {
	font-family: 'Frijole', cursive;
	text-shadow: 1.5px 2px 1px rgb(52, 98, 173);
}

#second {
	margin-top: 80px;
	background-color: white;
}


#first {
	background-color: white;
}

h1 span {
	font-size: 45px;
	color: rgb(52, 98, 173);
	text-shadow: 1.5px 2px 1px black;
}

.nopadding {
	padding: 0;
}

img {
	position: fixed;
	z-index: 1;
}

#languageBars p {
	display: inline-block;
	margin: 0;
	padding: 10px 5px;
	background-color: rgb(52, 98, 173);
	color: white;
	border: solid 1px rgb(52, 98, 173);
}

#languageBars p:hover {
	cursor: pointer;
	color: rgb(52, 98, 173);
	background-color: white;
	border: solid 1px black;
}

a:hover {
	text-decoration: none;
}

h2 {
	margin: auto;
	font-weight: bold;
	text-align: center;
	margin-top: 16px;
}

h2 a {
	color: black;
	font-weight: normal;
	font-size: 24px;
}

/* Copy to here */

#coverLetterText {
	font-size: 16px;
	text-align: justify;
	padding-top: 20px;
}

@media screen and (max-width: 768px) {
	h1 {
		text-align: center;
	}

	h2 {
		text-align: center;
		font-size: 25px;
	}

	#languageBars {
		text-align: center;
	}

	#second {
	margin-top: 175px;
}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	h2 {
		text-align: right;
	}
	
	#languageBars {
		text-align: center;
		width: 100%;
	}

	#second {
	margin-top: 100px;
}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
	h2 {
		text-align: center;
	}
	
	#languageBars {
		text-align: center;
		width: 100%;
	}

	#second {
	margin-top: 100px;
}
}